body {
	margin: 0px;
	background-image: url("../img/grid.png")
}

#menu {
	background-color: black;
	display: flex;
}

#menu-buttons {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.menu-button {
	transition: 0.3s;
	float: left;
	background-color: black;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: "Helvetica";
	font-size: 24;
	color: white;
	width: 128px;
	text-align: center;
}

.menu-button:hover {
	background-color: white;
	color: black;
}

#wrapper {
	font-family: "Helvetica";
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-top: none;
}

#header {
	text-align: center;
	padding: 16px;
}

#content {
	border-top: solid;
	border-width: 1px;
	padding: 16px;
}

#content-footer {
	text-align: center;
	width: 100%;
}

#footer {
	font-size: 11px;
	text-align: right;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.post-link {
	
}