body {
	margin: 0px;
	background-color: #EAEAEA;
	color: #444444;
}

#menu {
	background-color: #444444;
	display: flex;
}

#menu-buttons {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.menu-button {
	transition: 0.3s;
	float: left;
	background-color: #444444;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: "Helvetica";
	font-size: 24;
	color: white;
	width: 128px;
	text-align: center;
}

.menu-button:hover {
	background-color: white;
	color: #444444;
}

#wrapper {
	font-family: "Helvetica";
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-top: none;
}

#header {
	text-align: center;
	padding: 16px;
}

#content {
	overflow: auto;
	border-top: solid;
	border-width: 1px;
	padding: 16px;
}

#content h1 {
	color: #666666;
	font-style: italic;
	margin: 0;
}

#content a {
	color: inherit;
}

#content a:hover {
	color: red;
}

.post-link {
	position: relative;
	overflow: auto;
}

.post-link img {
	float: right;
	margin: 8px;
}

.post-link h1 {
	color: #666666;
	margin: 0;
}

#content-footer {
	text-align: center;
	width: 100%;
}

#footer {
	font-size: 11px;
	text-align: right;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#icons {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
}

#icons img {
	cursor: pointer;
	position: relative;
	top: -16px;
	width: 32px;
	height: 32px;
}

#icons img:hover {
	
}

.post-link {
	
}