.demo-container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.demo-container form {
    display: flex;
    flex-direction: row;
}

.demo-container .controls fieldset {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.demo-container .controls form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.demo-container .controls input {
    float: right;
}

.demo-container .renderer canvas {
    max-width: 100%;
}