.controls {
    float: right;
    padding: 0 var(--figure-padding) var(--figure-padding);
    clear: right;
}

.controls form {
    display: flex;
    flex-direction: row;
}

.controls fieldset {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.controls form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.controls input {
    float: right;
}

.renderer {
    float: right;
    padding: calc(var(--figure-padding) + 2px);
}

.renderer canvas {
    max-width: 100%;
}