#symmetry-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
}

#interface-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
}

#interface-toggle {
    width: 24px;
    height: 32px;
    background-image: url("../img/toggle.png");
    background-position-x: 24px;
    cursor: pointer;
}

#interface-toggle.visible {
    background-position-x: 0;
}

#interface {
    background-color: #2d2d2d85;
    color: white;
    font-family: sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    user-select: none;
    width: 232px;
    display: none;
    font-size: 10pt;
}

#interface.visible {
    display: block;
}

#interface label {
    white-space: nowrap;
}

#interface .header {
    display: flex;
}

#interface .header h2 {
    flex-grow: 1;
}

#interface .header h3 {
    flex-grow: 1;
}

#interface .header button {
    border: none;
    color: white;
    font-size: 32px;
    font-family: monospace;
    background: none;
    cursor: pointer;
    outline: 0;
}

#interface .header button:after {
    content: "-";
}

#interface .subcategory {
    margin-left: 10px;
}

#interface .category {
    display: flex;
    flex-direction: column;
}

#interface .category  button {
    margin-top: 8px;
}

#interface .collapsed .header button:after {
    content: "+";
}

#interface .collapsed .content {
    display: none;
}

#interface h2 {
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#interface h3 {
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#interface select {
    width: 100%;
    margin-bottom: 8px;
}

#interface label {
    display: flex;
    justify-content: space-between;

}

#renderer-wrapper {
    flex-grow: 1;
    overflow: hidden;
}