.simulation {
	width: calc(100% - 2px);
	border: 1px solid var(--color-gray);
}

.simulation canvas {
	display: block;
	width: calc(100% - 1px);
}

#game-of-life {
	background-image: url("../img/default_life.jpg");
}

#falling-sand {
	background-image: url("../img/default_sand.jpg");
	background-position: bottom left;
}

#water {
	background-image: url("../img/default_water.jpg")
}