.simulation {
	width: 100%;
}

.simulation canvas {
	width: 100%;
}

.simulation .grid {
	position: relative;
	width: 100%;
}

.simulation .grid .legend {
	position: absolute;
    left: 0;
    top: 0;
	white-space: nowrap;
	background-color: #00000060;
	padding: 6px;
	color: white;
}

.simulation .graph {
	position: relative;
	width: 100%;
}

.simulation .graph .legend {
    position: absolute;
    left: 0;
    bottom: 0;
	width: 28%;
}

.simulation .graph .legend .legend-entry {
	margin: 4px;
	color: white;
}