.simulation {
	display: inline-block;
	width: 100%;
}

.simulation canvas {
	display: block;
	width: 100%;
}

#game-of-life {
	background-image: url("../img/default_life.png");
}

#falling-sand {
	background-image: url("../img/default_sand.png");
	background-position: bottom left;
}

#water {
	background-image: url("../img/default_water.jpg")
}