<h1>About</h1>
<figure title="Hiking in Madeira">
	<img src="img/photo.jpg">
	<figcaption>Me, exploring another area of interest.</figcaption>
</figure>
<p>My name is Job Talle, and I'm a programming enthusiast and freelance software engineer. Currently, my main focus is graphics programming for games and interactive experiences. I have studied Artificial Intelligence at the <a href="https://www.rug.nl/?lang=en" target="_blank">University of Groningen</a>.</p>
<p>I built this website to write about interesting topics I encounter during my work and studies. The posts are also meant to elaborate further on open source software and algorithms that I publish regularly on <a href="https://github.com/jobtalle" target="_blank">Github</a>.</p>
