<h1>About</h1>
<figure title="Hiking in Madeira">
	<img src="img/photo.jpg">
	<figcaption>Me, exploring another area of interest.</figcaption>
</figure>
<p>My name is Job Talle and I'm a freelance software developer, consultant and programming enthusiast. I run a company focusing on software engineering with a specialization in artificial intelligence. Since 2015, I'm also involved in organizing the yearly <a href="https://www.globalgamejamgroningen.nl/" target="_blank">Global Game Jam in Groningen</a>.</p>
<p>I have broad experience with many forms of software engineering and computing science, preferably mixed with graphics programming, data visualization and simulations. I have studied Artificial Intelligence at the <a href="https://www.rug.nl/?lang=en" target="_blank">University of Groningen</a>, where I also taught a computer graphics course.</p>
<p>This website was built to write about interesting topics I encounter during my work and studies. The posts are also meant to elaborate further on open source software that I publish regularly on <a href="https://github.com/jobtalle" target="_blank">Github</a>.</p>
