<h1>About</h1>
<figure title="Hiking in Madeira">
	<img src="img/photo.jpg">
	<figcaption>Me, exploring another area of interest.</figcaption>
</figure>
<p>My name is Job Talle, and I'm a freelance software engineer, consultant and programming enthusiast. I'm especially interested in researching and developing genetic and evolutionary algorithms. Since 2015, I've been involved in organizing the yearly <a href="https://www.globalgamejamgroningen.nl/" target="_blank">Global Game Jam in Groningen</a> amongst other activities connecting businesses and academics in the area.</p>
<p>I have broad experience with graphics programming, data visualization and developing simulations. I have studied Artificial Intelligence at the <a href="https://www.rug.nl/?lang=en" target="_blank">University of Groningen</a>, where I also taught a computer graphics course.</p>
<p>This website was built to write about interesting topics I encounter during my work and studies. The posts are also meant to elaborate further on open source software that I publish regularly on <a href="https://github.com/jobtalle" target="_blank">Github</a>.</p>
