<h1>Contact</h1>
<p>To contact me for any reason, you can send me an email through the form below. If you would like to contact me for business, a message on <a href="http://www.linkedin.com/in/job-talle-b2b582aa" target="_blank">my LinkedIn</a> is also an option.</p>
<div id="contact-form">
	<form method="POST" action="http://formspree.io/jobtalle@hotmail.com">
	  <input type="email" name="email" placeholder="Your mail address" required>
	  <textarea name="content" required></textarea>
	  <button type="submit" class="round-button">Send</button>
	</form>
</div>