<!DOCTYPE html>
<html lang="en">
	<head>
		<title>$title$</title>
		<meta charset="UTF-8">
		<meta name="description" content="$description$"/>
		<meta name="keywords" content="software development, AI, algorithms, programming, Job Talle"/>
		<meta name="author" content="Job Talle"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta property="og:locale" content="en_US"/>$additional-meta$
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
		<link rel="shortcut icon" type="image/gif" href="img/favicon.gif"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>$additional-css$
	</head>
	<body>
		<div id="container">
			<div id="menu-wrapper">
				<div class="menu-button" id="menu-toggle" onclick="document.getElementById('menu-buttons').classList.toggle('visible')">
					<div class="burger-slice"></div>
					<div class="burger-slice"></div>
					<div class="burger-slice"></div>
				</div>
				<div id="menu-buttons">$menu-buttons$</div>
			</div>
			<div id="wrapper" class="container">
				<div id="header">
					<h1>Job Talle</h1>
					<h2>On AI, Art & Algorithms</h2>
				</div>
				<div id="content">$content$</div>
				<div id="footer">&copy Job Talle 2017 - $year$</div>
				<div id="icons">
					<a href="contact.html"><div class="icon" id="icon-mail" title="Mail">$icon-mail$</div></a>
					<a href="https://orcid.org/0000-0003-1946-8407" target="_blank"><div class="icon" title="ORCID">$icon-orcid$</div></a>
					<a href="https://www.github.com/jobtalle" target="_blank"><div class="icon" title="Github">$icon-github$</div></a>
					<a href="https://twitter.com/jobtalle" target="_blank"><div class="icon" title="Twitter">$icon-twitter$</div></a>
					<a rel="me" href="https://mastodon.gamedev.place/@jobtalle" target="_blank"><div class="icon" title="Mastodon">$icon-mastodon$</div></a>
					<a href="https://www.linkedin.com/in/jobtalle" target="_blank"><div class="icon" title="LinkedIn">$icon-linkedin$</div></a>
					<a type="application/rss+xml" href="rss.xml" target="_blank"><div class="icon" title="RSS">$icon-rss$</div></a>
				</div>
			</div>
		</div>$post-script$
	</body>
</html>